<header>
  <nav class="header-nav">
    <a class="header-title" href="/">inTOUCH</a>
    <ul>
      <li><a href="/authors">Doctors</a></li>
      <li><a href="/authors/new">Add Doctor</a></li>
      <li><a href="/books">Medication</a></li>
      <li><a href="/books/new">Add Medication</a></li>
    </ul>
  </nav>
</header>